# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# SQLite / local DB
*.db
*.sqlite3

# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# VS Code
.vscode/

# coverage
coverage/